<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页-时时彩-乐天堂</title>
<link href="css/layout.css" type="text/css" rel="stylesheet" />
<link href="css/tab.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="action">
    	<h1>下注详情</h1>
    	<div class="cut">
        	<ul>
            	<li class="cut_cg">串关</li>
                <li class="cut_zone clear"><span>江西</span><span>20130626078</span></li>
                <li class="cut_button clear"><span>百：双</span><input name="close" class="button" type="button" value="X" /></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="stake">
        	<ul>
            	<li><span class="mu">倍数：</span><b>1.9</b></li><br class="clear" />
                <li><span class="sum">下注金额：</span><input class="text" name="text" type="text" /></li><br class="clear" />
                <li><a href="###"><img src="img/5.jpg" /></a><a href="###"><img src="img/10.jpg" /></a><a href="###"><img src="img/100.jpg" /></a><a href="###"><img src="img/500.jpg" /></a></li>
            </ul>
        </div><!--stake end-->
        <div class="clear"></div>
        <div class="submit">
        	<ul>
            	<li><span id="mu" class="mu">可赢金额</span><b>0.00</b></li>
                <div class="clear"></div>
                <li><span id="sum" class="sum">下注金额</span><span id="text">10-5000</span></li><br class="clear" />
                <li><input  class="tbutton" name="button" type="reset" value="取消" /><input class="tbutton" name="button2" type="submit" value="下注" /></li>
            </ul>
        </div><!--submit end-->
    </div><!--action end-->
</body>
</html>
