<div id="game<%= game[i].id %>">
            <div  class="content01_left_s content01_left">
                <div id="bet" class="Bet">
                    <div class="site">
                        <ul>
                            <li><span><%= game[i].title %></span></li>
                            <li>区号：<span>42546564</span></li>
                        </ul>
                    </div>
                    <div class="countdown">
                        <ul>
                            <li>开始受注</li>
                            <li>倒计时：<span>04:30</span></li>
                        </ul>
                    </div>
                    <ul class="bet_x">
                        <li><a class="a104 big" href="###"><span>大</span><p>1.95 <br />{811-1426}</p></a></li>
                        <li><a class="a48 810" href="###"><span>和</span><br /><p>3.8</p></a></li>
                        <li><a class="a104 small" href="###"><span>小</span><p>1.95 <br />{811-1426}</p></a></li>
                        <li><a class="a130 single" href="###"><span>单</span><p>1.55</p></a></li>
                        <li><a class="a130 dual" href="###"><span>双</span><p>1.55</p></a></li>
                        <li><a class="a63 big single" href="###"><span>大单</span><p>3.8</p></a></li>
                        <li><a class="a63 small single" href="###"><span>小单</span><p>3.8</p></a></li>
                        <li><a class="a63 big dual" href="###"><span>大双</span><p>3.8</p></a></li>
                        <li><a class="a63 small dual" href="###"><span>小双</span><p>3.8</p></a></li>
                        <li><a class="a48 metal" href="###"><span class="font_red">金</span><p class="p_lay">3.8</p><span class="span48">{123-465}</span></a></li>
                        <li><a class="a48 wood" href="###"><span class="font_purple">木</span><p class="p_lay">3.8</p><span class="span48">{123-465}</span></a></li>
                        <li><a class="a48 water" href="###"><span class="font_blue">水</span><p class="p_lay">3.8</p><span class="span48">{123-465}</span></a></li>
                        <li><a class="a48 fire" href="###"><span class="font_pink">火</span><p class="p_lay">3.8</p><span class="span48">{123-465}</span></a></li>
                        <li><a class="a48 earth" href="###"><span class="font_brown">土</span><p class="p_lay">3.8</p><span class="span48">{123-465}</span></a></li>
                    </ul>
                </div><!--Bet end-->
                
                <div id="award" class="award">
                    <div class="award_top">
                        <ul>
                        <li>开奖结果</li>
                        <li class="back"><a href="###"><img src="img/back.gif"></a></li>
                        <li><span>458952</span></li>
                        <li class="next"><a href="###"><img src="img/next.gif" /></a></li>
                        <li>显示&nbsp;&nbsp官网</li>
                        </ul>
                    </div><!--enter_top end-->
                    <div class="award_middle">
                        <ul>
                            <li>大  </li>
                            <li>下</li>
                            <li>单</li>
                            <li>奇</li>
                            <li>火</li>
                            <li>917</li>
                            <li><a href="###">详情</a></li>   
                        </ul>
                    </div><!--enter_middle end-->
                    <div class="award_bottom">
                        <span class="buttom_left"><input name="" type="button" value="再次投注" /></span>
                        <span class="buttom_right"><input name="" type="button" value="进入" /></span>
                    </div><!--enter_bottom end-->
                    <div class="lottery">
                        <div class="num_left">
                            <ul>
                                <li><a></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                                <li><a class="none"></a></li>
                            </ul>
                        </div>
                        <div class="num_right">
                            <ul>
                                <li><a id="w" href="###">0770</a></li>
                                <li><a  href="###">小</a></li>
                                <li><a  href="###">双</a></li>
                                <li><a href="###">偶</a></li>
                                <li><a href="###">水</a></li>
                            </ul>
                        </div>
                    </div><!--lottery end-->
                </div><!--enter end-->
                <div class="clear"></div>
                
                <!--tab标签 begin -->         
                <div class="wrap">
                    <div class="menu">
                    <ul>
                    <li class="m1" class="on"><a href="javascript:void(0);">大小</a></li>
                    <li class="m2"><a href="javascript:void(0);">单双</a></li>
                    <li class="m3"><a href="javascript:void(0);">奇偶</a></li>
                    <li class="m4"><a href="javascript:void(0);">上下</a></li>
                    <li class="m5"><a href="javascript:void(0);">珠仔</a></li>
                    <li class="m6"><a href="javascript:void(0);">五元素</a></li>
                    </ul>
                    </div>
                    <div class="history">
                    <div class="h1">
                        <table  width="360" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="red" title="1235566[大]">大</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[大]">大</td>
                            <td class="red" title="1235566[大]">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[大]">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[大]">大</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[大]">大</td>
                            <td>小</td>
                          </tr>
                          <tr>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                    </div>
                    <div class="h2" style="display:none">
                        <table  width="360" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="red" title="1235566[双]">双</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td class="red">双</td>
                            <td>单</td>
                            <td class="red">双</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td class="red" title="124366[双]">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>单</td>
                          </tr>
                          <tr>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>双</td>
                            <td>双</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[双]">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                    </div>
                    <div class="h3" style="display:none">
                        <table  width="360" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td class="red">偶</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[偶]">偶</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[偶]">偶</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[偶]">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                           <td class="red" title="1235566[偶]">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td class="red" title="1235566[偶]">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                           <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>奇</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                            <td>&nbsp;</td>
                            <td class="red">偶</td>
                          </tr>
                        </table>
                    </div>
                    <div class="h4" style="display:none">
                        <table  width="360" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                    </div>
                    <div class="h5" style="display:none">
                        <table  width="360" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td class="red">双</td>
                            <td>单</td>
                            <td class="red">双</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>单</td>
                          </tr>
                          <tr>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>双</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>单</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">双</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                    </div>
                    <div class="h6" style="display:none">
                        <table  width="360" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="red">大</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>小</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                    </div>
                    </div>
                    </div>
                <!--tab标签 end -->
            <div class="tab_right">
                <input class="buttom01" name="buttom" type="button" value="刷新" />
                <img class="tab02_right_img" src="img/histogram.gif" />
                <input class="buttom02" name="buttom" type="button" value="全部" />
            </div><!--tab_right end -->
            <div class="clear"></div>
                <div class="site">
                    <ul>
                        <li><a href="###">上海</a></li>
                        <li class="site_line_w2">|</li>
                        <li><a href="###">重庆</a></li>
                        <li class="site_line_w2">|</li>
                        <li><a href="###">江西</a></li>
                        <li class="site_line_w2">|</li>
                        <li><a href="###">福利3D</a></li>
                        <li class="site_line_w2">|</li>
                        <li><a href="###">天津</a></li>
                        <li class="site_line_w2">|</li>
                        <li><a href="###">新疆</a></li>
                    </ul>
                </div>
            </div>
		<!--content_left end-->
   		</div>