body,div,h1,h2.h3,h4,h5,h6,p,table,ul,li,span,img,form,input{ margin:0; padding:0;}
img{ border:0;}
*{ margin:0; padding:0;}
a{ text-decoration:none; color:#000}
.link_refresh_but01{display:block; float:left; _margin-right:-4px; margin-left:3px; margin-top:160px;}
.link_refresh_but02{display:block; position:absolute; top:350px; _top:365px; left:25%;  height:11px; width:11px;}
.link_refresh_but03{ display:block; position:absolute; top:350px; _top:365px; left:75%; height:11px; width:11px;}
ul{ list-style:none;}
.clear{ clear:both;}
body{ font-size:12px;}
/*top样式*/
.top{ margin:0 auto; width:1000px; height:90px;}
.top ul{ padding-top:15px;}
.top ul li{ float:left; padding-right:5px;}
.top .top_right{ padding-top:15px; float:right; line-height:18px; text-align:center;}
.top .top_right02{padding-top:8px; float:right; width:420px; height:20px;}

/*content样式*/
.content{ margin:0 auto; width:1000px;}
.content01{ width:1000px; position:relative;}/*height:345px;*/
.content01_margin_top10{ margin-top:10px;}
.content01_margin_top20{ margin-top:20px;}
.content01_left{ float:left; width:492px; height:349px; _height:363px; background:#cccccc;}/*height:345px;*/
.content01_left_s{height:349px !important; _height:367px !important;}/*height:337px*//*_height:355px*/
.content01 .Bet{ float:left; width:265px; height:200px;  margin:3px 0 3px 3px; display:inline;}/*height:200px;*/
.content01 #Bet02{ height:212px !important;}
.content01 .Bet .site{ float:left; width:131px; height:55px; background:#1d83ac;}
.content01 .Bet .site ul{ padding-top:10px; padding-left:7px; font-weight:bold; color:#FFF;}
.content01 .Bet .site ul span{ font-size:14px; font-family:Georgia, "Times New Roman", Times, serif;}
.content01 .Bet .countdown{ float:right; width:131px; height:55px;background:#FFF;}
.content01 .Bet .countdown ul{ padding-top:10px; padding-left:10px; font-weight:bold; color:#000;}
.content01 .Bet .countdown ul span{ font-size:16px; color:#1d83ac;}

.content01 .Bet .bet_x li{ display:inline; float:left; margin:1px; border:1px solid #fff8ac; position:relative;}
.content01 .Bet .bet_x li a{ display:block;}
.content01 .Bet .bet_x li a:hover{ color:#FFF; font-weight:bold; background:#1679a2;}
.content01 .Bet .bet_x li a:hover span{color:#FFF; cursor:pointer;}
.content01 .Bet .bet_x li a:hover p{cursor:pointer;}
.content01 .Bet .bet_x .a104{ width:102px; height:35px; background:#e2e2e2}/*height:35px;*/
.content01 .Bet .bet_x .a104 span,.content01 .Bet .bet_x .a130 span{ padding-left:2px; padding-top:2px; display:block; float:left; font-weight:bold; font-size:20px; font-family:"微软雅黑"; color:#1679a2;}
.content01 .Bet .bet_x .a63 span{ padding-left:2px; padding-top:5px; display:block; float:left;font-weight:bold; font-size:16px; font-family:"微软雅黑"; color:#1679a2;}
.content01 .Bet .bet_x .a48 span{ padding-left:1px; padding-top:1px; display:block; float:left;font-weight:bold; font-size:14px; font-family:"微软雅黑"; color:#1679a2;}
.content01 .Bet .bet_x .a104 p{ float:right; margin-right:3px; display:inline; text-align:center; font-weight:bold;font-family:sans-serif;}
.content01 .Bet .bet_x .a130 p{ float:right; margin-right:5px; display:inline; line-height:32px;text-align:center; font-weight:bold;font-family:sans-serif;}
.content01 .Bet .bet_x .a63 p,.content01 .Bet .bet_x .a48 p{ float:left; margin-right:5px; display:inline;text-align:right;font-weight:bold; font-family:sans-serif;}
.content01 .Bet .bet_x .a63 p{ margin-top:10px; float:right;}
.content01 .Bet .bet_x .a48 .span48{ position:absolute; top:15px; right:3px; width:40px; height:15px; display:block; float:right; margin:0; padding:0;font-size:9px; font-weight:normal; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.content01 .Bet .bet_x .a130{ width:128px; height:35px; background:#e2e2e2}
.content01 .Bet .bet_x .a48{ width:49px; height:35px; background:#e2e2e2}
.content01 .Bet .bet_x .a63{ width:62px; height:35px; background:#e2e2e2}
.p_lay{position:absolute; top:3px; right:5px;}
.font_red{ color:#F00  !important;}
.font_purple{ color:#90F  !important;} 
.font_blue{ color:#00F  !important;}
.font_pink{ color:#F0F  !important;}
.font_brown{ color:#600  !important;}
 
.content01 .award{ float:right; width:215px; height:200px; margin:3px 3px 3px 0px; display:inline;}/*height:200px;*/
.content01 #award{ height:212px;}
.content01 .award .award_top{ height:20px; width:215px; background:#258eb8;  position:relative;}
.content01 .award .award_top a{ color:#FFF;}
.content01 .award .award_top li{ text-align:center; float:left; width:65px; color:#FFF; line-height:20px;}
.content01 .award .award_top .back{ width:4px; height:20px;}
.content01 .award .award_top .back img{ position:absolute; top:6px; left:70px;}
.content01 .award .award_top .next{width:4px; height:20px;}
.content01 .award .award_top .next img{ position:absolute; top:6px; left:128px;}
.content01 .award .award_middle{ margin-top:2px; height:32px; width:215px;}
.content01 .award .award_middle li{ color:#cf0000; font-weight:bold; float:left; width:28px; height:32px; line-height:32px; text-align:center; background:#c8c8c8; border-left:#f2f2f2 solid 1px; border-right:solid #979797 1px; border-bottom:solid 1px #f2f2f2; border-bottom:solid 1px #f2f2f2;}
.content01 .award .award_middle li a{ display:block; width:33px; height:32px;background:#f4f4f4;}
.content01 .award .award_bottom{ display:none; margin-top:2px; height:155px; width:215px; background:#09F; background:url(../img/beijing_bg.jpg) left top repeat-x;} /*display:none;将这个div的display属性改为区块就显示未开奖状态模块！！！！*/
.content01 .award .award_bottom .buttom_left{ display:block; float:left; width:78px; height:24px; margin-top:118px; margin-left:10px; display:inline;}
.content01 .award .award_bottom .buttom_left input{ background:#1a7ea8; text-align:center; border:0; width:78px; height:24px; line-height:24px; color:#FFF; cursor:pointer;}
.content01 .award .award_bottom .buttom_right{ display:block; float:right; width:78px; height:24px; margin-top:118px; margin-right:10px; display:inline;}
.content01 .award .award_bottom .buttom_right input{background:#1a7ea8; text-align:center; border:0; width:78px; height:24px; line-height:24px; color:#FFF; cursor:pointer;}

.lottery{ width:214px; height:142px;  margin-top:10px;}/*当.award_bottom属性的div打开后请把这个div加上display:none;!!!*/
.num_left{ float:left; width:114px; height:142px;}
.num_right{float:left; width:100px; height:142px;}
.num_left li{ float:left;}
.num_left li a{ font-family:"微软雅黑"; display:block;background:#FFF; width:27px; height:26px; text-align:center; line-height:26px; border:1px solid #898989;}
.num_left li a:hover{background:#1d83ac; color:#FFF; font-weight:bold;}
.num_left li a.none, .num_right li a.none{ border-left:0;}
.num_right li{ float:left;}
.num_right li a{font-family:"微软雅黑"; font-size:26px; color:#fff; font-weight:bold; width:48px; height:46px; line-height:46px; text-align:center; display:block;border:1px solid #fff;background:#1d83ac;}
.num_right li a#w{ width:98px; height:42px;line-height:42px; text-align:center;}
.num_right li a:hover{background:#fff; color:#1d83ac;}

.content01 .tab_right{ padding-right:3px; float:right; width:53px;}
.content01 .tab_right .buttom01,.buttom02{ border:0; width:53px; height:26px; line-height:26px; background:#8acde8; color:#FFF; font-weight:bold; cursor:pointer;}
.tab02_right_img{width:53px; _height:65px;}
.site{ margin:0 auto; width:485px; height:20px; background:#FFF; }
.site li{ float:left; }
.site_line_w2{ width:2px; color:#969696;}
.site li a{ display:block;line-height:20px; width:75px; font-size:10px; text-align:center;}
.site li a:hover{ font-size:12px; font-weight:bold;}
.content01_right{float:right; width:492px; height:349px; _height:363px; background:#cccccc;}

.content .footer{ margin:0 auto; width:1000px; height:40px; background:#E3E3E3	;}
.content .footer p{ text-align:center; line-height:40px; font-family:Verdana, Geneva, sans-serif, "微软雅黑";}


/*时时彩相关样式表*/
.Bet .bet_y{ display:inline-block; margin-top:2px;}
.bet_y_l{font-size:14px !important; padding:0 !important;}
.Bet .bet_y li{ float:left;}
.Bet .bet_y li span{ float:left; padding-left:5px; font-weight:bold; font-size:20px; color:#23a9e1; line-height:38px; font-family:"微软雅黑";}
.Bet .bet_y li p{float:right; padding-right:5px; line-height:38px;font-weight:bold; font-size:16px;font-family:Georgia, "Times New Roman", Times, serif;}
.Bet .bet_y li a{ display:block; margin:1px; width:128px; height:38px; background:#dedede; border:1px solid #fff8ac;}
.Bet .bet_y li a:hover span{color:#FFF;}
.Bet .bet_y li a:hover{color:#FFF; font-weight:bold; background:#1679a2}

.award_button02{ margin-top:2px; width:265px; height:58px; background:url(../img/jiangxi_bg.jpg); position:relative;}
.button_flop{ width:78px; height:24px; background:#1c81ab; border:0; line-height:24px; color:#FFF; font-weight:bold; position:absolute; top:4px; right:3px;}
.button_enter{ width:78px; height:24px; background:#1c81ab; border:0; line-height:24px; color:#FFF; font-weight:bold;position:absolute; top:30px; right:3px;}
.award_middle02 li{ float:left; width:70px; margin-left:1px; height:18px; text-align:center; line-height:18px; background:#FFF;}

.award_bottom02{display:inline-block; padding-top:2px;}
.award_middle02_l{background:#a1a1a1 !important;  font-weight:bold !important; color:#333 !important;}
.award_bottom02 li{ float:left; font-size:16px;}
.award_bottom02 li .w18{ width:40px; height:16px;line-height:16px; font-size:12px; background:#1b80a9; color:#FFF;}
.award_bottom02 li a{ display:block; margin-left:1px; width:40px; height:30px;  line-height:22px; color:#1b80a9; font-weight:bold; text-align:center; background:#e5e5e5; border:#FFF solid 1px; position:relative;}
.award_bottom02 li a span{ font-family:Georgia; font-weight:normal; color:#000; font-size:12px; position:absolute; top:10px; right:6px;}
.award_bottom02 li a:hover{color:#FFF; font-weight:bold; background:#1679a2; border:#fff8ac solid 1px;}
.award_bottom02 li a:hover span{color:#FFF; font-weight:bold; cursor:pointer;}

.tab02{ width:492px; height:115px; margin-bottom:2px;margin-top:3px;}
.tab02_left{ margin-left:2px;float:left; width:235px; height:115px; background:#FFF;}
.tab02_left span{ display:block;width:235px; text-indent:4px; height:16px; background:#f0f1f1; border-bottom:#CCC solid 1px; font-size:12px; font-family:"微软雅黑";}
.tab02_left ul{ float:left;}
.tab02_left li a{ display:block; width:46px; height:32px; _height:34px; background:#DDD; margin-bottom:1px; text-align:center; line-height:32px;}
.tab02_left table,.tab02_right table{ margin-right:-1px;float:right;border:1px solid #CCC; }
.tab02_left table td,.tab02_right table td{ border:1px solid #CCC; width:10px; height:14px;text-align:center; font-weight:bold; cursor:pointer;}
.tab02_left table .h2,.tab02_lright table .h2{ height:14px;}
.tab02_right{ margin-right:2px; float:right; width:248px; height:115px;background:#FFF;}
.unit li{ float:right; }
.unit li a{ display:block; border-left:#ffffff solid 1px; border-right:#aeaeae solid 1px;width:36px; height:17px; _height:19px; text-align:center; line-height:16px; background:#f0f1f1; border-bottom:#CCC solid 1px;}
.unit li a:hover{color:#FFF; font-weight:bold; background:#1679a2;}
.unit li .u1{ width:96px; border-left:0;}
.unit li .u2{border-right:0;}
.tab02_right_ul { float:left;}
.tab02_right_ul li a{ display:block; width:46px; height:32px; _height:34px; background:#DDD; margin-bottom:1px; text-align:center; line-height:32px;}

/*强弹样式*/
.action{ margin:0 auto; width:200px; height:295px; background:#f0f0f0;}
.action h1{ width:200px; height:25px; background:#1d83ac; text-indent:8px; font-family:"微软雅黑"; color:#FFF; font-size:14px; font-weight:bold;}
.cut{ width:190px; height:80px;  margin:0 auto;margin-top:10px; border-bottom:2px solid #CCC; font-weight:bold;}
.cut ul{ }
.cut ul li{}
.cut_cg{ text-align:center; width:190px; height:23px; background:#b9b9b9; line-height:23px; font-weight:bold;}
.cut_zone{padding-top:10px}
.cut_zone span{width:90px; float:left; height:15px;line-height:15px;}
.cut_button{ padding-top:10px;}
.cut_button span{ float:left; display:block; line-height:22px; color:#F00}
.cut_button .button{ border:none; float:right; color:#FFF; width:30px; font-family:"微软雅黑";line-height:18px; height:18px; background:#999; cursor:pointer;}
.stake{border-bottom:2px solid #CCC;width:190px; height:88px; padding-top:5px; padding-bottom:3px; margin:0 auto;}
.stake b{ font-family:serif; color:#F00; display:block; float:left; line-height:24px; height:24px;}
.sum,.mu{ display:block; float:left; width:60px; line-height:24px; height:24px;}
.mu{color:#F00;}
.sum{ display:block; float:left;width:60px;line-height:24px; height:24px;}
.stake .text{ float:left; width:110px;height:20px; text-indent:3px;}
.stake li a{ margin-top:5px; display:inline-block; float:left; margin-left:10px;}
.submit{ padding-top:5px;width:190px;height:74px; margin:0 auto;}
#sum,#mu{color:#000; margin-top:-4px !important;}
#text{ display:block; float:left; font-weight:bold;}
.tbutton{ width:80px; height:27px; margin-right:8px; color:#fff; font-weight:bold; font-family:"微软雅黑"; border:none; background:#1d83ac; cursor:pointer;}




















